.footer {
  margin-top: auto;
  /* Pushes the footer to the bottom */
  background-color: #00529b;
  /* UF Blue */
  color: #ffc20e;
  /* UF Orange for text */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  /* position: absolute;
    bottom: 0; */
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-logo {
  margin-right: 20px;
  width: 60px;
  /* Adjust based on your logo's size */
}
