#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.container {
  text-align: center;
  max-width: 800px;
  padding: 20px;
  background-color: #00529b;
  color: #ffc20e;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #ffc20e;
}

.instructions {
  background-color: #f57c00;
  /* A darker shade of orange for contrast */
  color: #ffffff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}

select,
button {
  padding: 10px 15px;
  margin-top: 20px;
  border: 1px solid #ffc20e;
  background-color: #007fff;
  /* A lighter shade of blue for elements */
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: #ffc20e;
  /* Orange button */
  color: #00529b;
  /* Blue text */
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #f57c00;
  /* A darker shade of orange */
  color: #ffffff;
}

a {
  color: #00529b;
}
